{block content}
	<h1 class="mt-3" n:block="title">Články</h1>

	<div class="mt-3" n:foreach="$posts as $post" class="post">
		<div class="date">{$post->created_at|date:'F j, Y'}</div>

		<h2 class="mt-3"><a class="text-black text-decoration-none" n:href="Post:show $post->id">{$post->title}</a></h2>

		<div class="mt-3 mb-3">{$post->content|truncate:256}</div>
		<hr>
	</div>

	<a class="fs-3 text-danger" n:href="Edit:create" n:if="$user->isLoggedIn()">Přidat článek</a>




{/block}
