{block content}


<div class="d-flex flex-column justify-content-evenly align-items-center h-100">
    <div>
        <h1 n:block=title>Registrace</h1>
        {control registrationInForm}
    </div>
</div>