services:
	- App\Router\RouterFactory::createRouter
	- App\Model\PostFacade
	- App\Model\MyAuthenticator
	- App\Model\Registration
	- App\Model\LogUser
	- App\Model\Edit
	- App\Model\DeleteUser
	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])